.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 28px;
  border-radius: 57px;
  border: none;

  font-family: "SVN-Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.primary {
  background: $primary;
  color: #fdfdfd;
}

.secondary {
  background: none;
  color: $primary;
  border: 1.5px solid $primary;
}
