.container {
  position: relative;
  padding: 105px 0 0;
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;

  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );

  @include mq-min(1024px) {
    padding: 180px 0 0 10%;
  }
}

.element1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include mq-min(1024px) {
    width: 25%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  z-index: 1;

  @include mq-min(1024px) {
    flex-direction: row;
  }

  span {
    padding: 0 16px;
  }
}

.title {
  font-family: "SVN-Gilroy";
  font-size: 44px;
  font-weight: 800;
  line-height: 60px;
  color: $primary;
  text-transform: capitalize;

  @include mq-min(414px) {
    font-size: 46px;
  }
}

.subTitle {
  font-family: "SVN-Gilroy";
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  color: $primary;
  margin-bottom: 12px;
}

.description {
  font-family: "SVN-Gilroy";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  margin-bottom: 32px;
}

.ctaContainer {
  display: flex;
  gap: 16px;
}

.bannerContainer {
  width: 100%;
  position: relative;

  img {
    display: block;
    width: 100%;
  }
}

.rectangle1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.rectangle2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
