.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 13px 10px;

  @include mq-min(1024px) {
    padding: 30px 130px;
  }
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnMobile {
  display: block;

  @include mq-min(1024px) {
    display: none;
  }
}
