.logo {
  position: relative;
  min-width: 92px;

  img {
    width: 100%;
    display: block;
  }

  @include mq-min(1024px) {
    min-width: 115px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
