.menus {
  display: none;
  font-family: "SVN-Gilroy";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: $primary;

  @include mq-min(1024px) {
    display: block;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 48px;
  }
}
