.container {
  display: none;

  @include mq-min(1024px) {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.inputSearch {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 12px 16px;
  border-radius: 46px;
  background: #fff;

  input {
    border: none;
    font-family: "SVN-Gilroy";
    font-size: 14px;
    font-weight: 500;

    &::placeholder {
      color: #99a2a5;
    }
  }
}

.btnJoin {
  font-weight: 700;
}

.selectContainer {
  padding: 14px 11px;
  display: flex;
  align-items: center;
  gap: 6px;

  select {
    width: 60px;
    border: none;
    font-family: "SVN-Gilroy";
    font-size: 16px;
    font-weight: 500;
    background: none;
    color: #002a48;
  }
}
