* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
}

main {
  min-height: 100vh;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}
